body {
  transition: .2s all ease-in;
}

body.dark {
  background: #343a40;
  color: #fff;
}

body.dark hr {
  border-top: 1px solid rgba(0,0,0,.9);
}

body.dark .card {
  background: #343a40;
  border: 1px solid rgba(0,0,0,.875);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
